@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,500;0,600;0,700;0,800;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,300;0,400;0,600;0,700;1,100;1,200;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}

:root{
    --primary-color: rgb(214, 21, 60);
    --hover-color : rgb(124, 14, 36);
    --second-white: #fff; 
    --second-color: rgb(224, 153, 153);

    
}

h1{
    font-size: 3rem;
    color: var(--second-white);
}
span{
    color: var(--primary-color);
}